<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I recently completed a software engineering internship at
      <a
        class="underline-link"
        href="https://www.moogsoft.com/"
        target="_blank"
      >
        Moogsoft
      </a>
      where I wrangled JavaScript charting libraries and helped to optimize web
      app bundling and build performance. I'm also studying Full Stack Web
      Development at
      <a
        class="underline-link"
        href="https://lambdaschool.com/courses/full-stack-web-development"
        target="_blank"
        >Lambda School</a
      >.
    </p>

    <p>
      As a software developer, I strive to develop applications that are both
      efficient and user-friendly. My drive for coding comes from knowing I've
      built well-designed products that users will love to use and recommend to
      their friends and families.
    </p>

    <p>
      When I'm not in front of a computer screen, I'm probably hanging out with
      my girlfriend, riding around the Bay Area on my road bike, sitting out in
      the sun with my dog, or
      <a class="underline-link" href="https://cedric.tech/blog" target="_blank"
        >writing about whatever is on my mind</a
      >
      at the moment.
    </p>

    {% include employment-status.html %}
  </div>
</section>
