<section class="section featured-projects">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">
    <div class="project unearthh">
      <figure class="project__pic">
        <a href="https://wwww.tryunearth.com/" target="_blank">
          <img
            src="{{site.baseurl}}/img/featured/unearth/unearth.png"
            alt="unearth logo"
          />
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://wwww.tryunearth.com/" target="_blank">unearth</a>
        </div>
        <p>
          Personal project used to generate personalized emails with users’
          Reddit saves, delivered at a frequency of their choice. Utilized cron
          jobs to send emails, Express.js and SocketIO for the backend API
          server, and React for the client web UI.
        </p>
      </figcaption>
    </div>
  </div>
</section>
