.blurb {
  display: flex;
  align-items: center;
  margin: 2rem 0 1rem;
  padding-top: 1rem;
  border-top: solid 2px $slate;

  @include phablet {
    align-items: flex-start;
  }

  &__author-image {
    width: 3rem;
    height: 3rem;
    margin-right: 0.5rem;
    border-radius: 100%;
  }

  &__author-bio {
    margin: 0;
    padding: 0;
    font-style: italic;
  }
}
